<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/assets/icon.png">
  <title>EZTruk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="/css/login_style.css">
</head>

<body>
  <div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check"></div>
      <form class="form-horizontal" role="form" method="POST" action="/signIn">
        {{ csrfField }}
        <div class="login__form">
          <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            {# <input type="text" class="login__input name" placeholder="Username"/> #}
            <input id="email" type="email" class="login__input name" name="email" placeholder="Username" required>
          </div>
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            {# <input type="password" class="login__input pass" placeholder="Password"/> #}
            <input id="password" type="password" class="login__input pass" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="login__submit">Sign in</button>
          <p class="login__signup">Don't have an account? &nbsp;<a href="/register">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
  <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/js/login_index.js"></script>
</body>
</html>
