<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/assets/icon.png">
    <title>EZTruck</title>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet">
</head>
<body class="fix-header">
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="/register">
                        {{ csrfField }}
                        <div class="form-group">
                          <label for="email" class="col-md-4 control-label">Username</label>
                          <div class="col-md-6">
                              <input id="username" type="text" class="form-control" name="username" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                          <div class="col-md-6">
                              <input id="email" type="email" class="form-control" name="email" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="password" class="col-md-4 control-label">Password</label>
                          <div class="col-md-6">
                            <input id="password" type="password" class="form-control" name="password" required>
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                            <div class="col-md-4">
                                Sudah punya akun? Silakan melakukan <a href="/login">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
