<!DOCTYPE html>
<html lang="en">
{% set Owner    = use('App/Model/Owner') %}
{% set Driver   = use('App/Model/Driver') %}
{% set Truck    = use('App/Model/Truck') %}
{% set Database = use('Database') %}
{% set Role     = use('App/Model/Role') %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/assets/icon.png">
    <title>EZTruck</title>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!--Sweet Alert-->
    <link href="/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    {% block additionCSS %}{% endblock %}
    <!-- chartist CSS -->
    <link href="/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="/">
                        <!-- Logo icon image, you can use font-icon also --><b>
                        <!--This is light logo icon--><img src="/assets/logo-only.png" alt="home" class="light-logo" />
                     </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is light logo text--><img src="/assets/text-logo.png" alt="home" class="light-logo" />
                     </span> </a>
                </div>

                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="fa fa-bars"></i></a></li>
                </ul>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10" action="#" method="post">
                            <input type="text" placeholder="Search..." class="form-control" name="search"> <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                {% if currentUser %}
                <li class="dropdown nav-item">
                  <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ currentUser.username}} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item">
                              <a href="/signOut"><i class="fa fa-fw fa-power-off"></i> Sign Out</a>
                          </li>
                      </ul>
                </li>
                {% else %}
                <li class="dropdown nav-item">
                  <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Guest <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li class="dropdown-item">
                      <a href="/signIn"><i class="fa fa-fw fa-power-off"></i> Sign In</a>
                    </li>
                  </ul>
                </li>
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="fa  fa-arrow-left"></i></span> <span class="hide-menu">Menu</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="/home" class="waves-effect"><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    {% yield admin_mstr = Role.query().where('roleName', 'admin').first() %}
                    {% if currentUser.userRoleId == admin_mstr.userRoleId %}
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-circle-thin fa-fw"></i> <span class="hide-menu">Owners<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                        {% yield owner_mstr = Database.table('eztruk_owner').orderBy('namaOwner', 'asc').where('deleted', 0) %}
                        {% for item in owner_mstr %}
                          <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="fa fa-circle-thin fa-fw"></i><span class="hide-menu">{{ item.namaOwner }}</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                              <li><a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="fa fa-users fa-fw"></i><span class="hide-menu">Driver </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-fourth-level">
                                  {% yield driver_mstr = Driver.query().where('ownerId', item.ownerId).where('deleted', 0) %}
                                  {% for item in driver_mstr %}
                                  <li> <a href="/detail-driver/{{ item.driverId }}"><i class=" fa fa-child fa-fw"></i><span class="hide-menu">{{ item.namaDriver }}</span></a> </li>
                                  {% endfor %}
                                </ul>
                              </li>
                              <li><a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="fa fa-truck fa-fw"></i><span class="hide-menu">Truck </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-fourth-level">
                                  {% yield truck_mstr = Truck.query().where('ownerId', item.ownerId).where('deleted', 0) %}
                                  {% for item in truck_mstr %}
                                  <li> <a href="/detail-truck/{{item.truckId}}"><i class=" fa fa-child fa-fw"></i><span class="hide-menu">{{ item.platTruck }}</span></a> </li>
                                  {% endfor %}
                                </ul>
                              </li>
                            </ul>
                          </li>
                        {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="/home/admin/devices" class="waves-effect"><i class="fa fa-circle-thin fa-fw" aria-hidden="true"></i>Devices</a>
                    </li>
                    <li>
                        <a href="/home/admin/setting" class="waves-effect"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>Setting</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i>Info Aplikasi</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer text-center">&copy; Copyright LPPM IT Del. All rights reserved</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.js"></script>

    {% block additionJS %}
    {% endblock %}
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Sweet Alert-->
    <script src="/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
    <script src="/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>
    <!--Counter js -->
    <script src="/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.min.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/dashboard1.js"></script>
    <script src="/plugins/bower_components/toast-master/js/jquery.toast.js'"></script>

</body>

</html>
