{% extends 'master' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <h3>Test Man</h3>
        {% for item in pict %}
          h
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
