{% extends 'master' %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}

{% set Truck = use('App/Model/Truck') %}
{% set Driver = use('App/Model/Driver') %}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
        </ol>
    </div>
</div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="white-box">
        <h3 class="box-title m-b-0">Daftar Nama Perusahaan</h3>
          <table id="myTable" class="table">
            <thead>
              <tr>
                <th>Nama</th>
                <th>Jumlah Truk</th>
                <th>Jumlah Driver</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in owner %}
              <tr>
                <td><a href="/detail/{{ data.ownerId}}">{{ data.namaOwner }}</a></td>
                {% yield jumlahTruck = Truck.query().where('ownerId', data.ownerId).count('ownerId as id') %}
                <td>{{ jumlahTruck[0].id }}</td>
                {% yield jumlahDriver = Driver.query().where('ownerId', data.ownerId).count('ownerId as id') %}
                <td>{{ jumlahDriver[0].id }}</td>
                <td>
                  <a href="/detail/{{ data.ownerId}}" title="View Truck"><span class="fa fa-eye"></button>
                  <a href="/edit-owner/{{ data.ownerId }}"> <span class="fa fa-pencil"></a>
                  <a href="/delete/{{ data.ownerId}}" title="Delete Truck"> <span class="fa fa-trash-o"></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="/create-owner" class="btn btn-primary"><span class="fa fa-plus"></span> Owner Baru</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});
</script>
<script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
