{% extends 'master' %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}

{% set StatusTruk = use('App/Model/StatusTruk') %}
{% set TipeTruck = use('App/Model/TipeTruck') %}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Perusahaan {{detail.namaOwner}} Profile</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
            <li><a href="/detail/{{ detail.ownerId}}">Owner {{ detail.namaOwner }}</a></li>
        </ol>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="fa fa-home"></i></span><span class="hidden-xs">Profile</span></a></li>
          <li role="presentation" class=""><a href="#truck" aria-controls="truck" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="fa fa-truck"></i></span> <span class="hidden-xs">Truck</span></a></li>
          <li role="presentation" class=""><a href="#driver" aria-controls="driver" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="fa fa-users"></i></span> <span class="hidden-xs">Driver</span></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
              <div class="col-md-6">
                  <h3>Data Diri</h3>
                  <table class="table">
                    <tr>
                      <td>Nama</td>
                      <td>:</td>
                      <td>{{ detail.namaOwner }}</td>
                    </tr>
                    <tr>
                      <td>No. KTP</td>
                      <td>:</td>
                      <td>{{ detail.noHP }}</td>
                    </tr>
                    <tr>
                      <td>Bank</td>
                      <td>:</td>
                      <td>{{ detail.bank }}</td>
                    </tr>
                    <tr>
                      <td>No. Rekening</td>
                      <td>:</td>
                      <td>{{ detail.noRekening }}</td>
                    </tr>
                    <tr>
                      <td>No. KTP</td>
                      <td>:</td>
                      <td colspan="4">{{ detail.noKTP }}</td>
                    </tr>
                  </table>
              </div>
              <div class="col-md-4">
                  <h3>Data Akun</h3>
                  <table class="table">
                    <tr>
                      <td>Username</td>
                      <td>:</td>
                      <td>{{ user.username}}</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>:</td>
                      <td>{{ user.email }}</td>
                    </tr>
                  </table>
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="{{detail.photoOwner}}" alt="Foto Perusahaan">
              </div>
              <br>
              <div class="col-md-6">
                <a href="/edit-owner/{{detail.ownerId}}" class="btn btn-primary">Edit Owner</a>
              </div>
              <div class="clearfix"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="truck">
              <div class="col-md-12">
                <div class="table-responsive">
                  <h3 class="box-title m-b-0">Daftar Truck</h3>
                    <table id="myTable" class="table">
                      <thead>
                        <tr>
                          <th>No Plat</th>
                          <th>No STNK</th>
                          <th>Jenis Truck</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for trucks in truck %}
                        <tr>
                          <td><a href="/detail-truck/{{ trucks.truckId}}">{{ trucks.platTruck }}</a></td>
                          <td>{{ trucks.noSTNK }}</td>
                          {% yield tipeTruck = TipeTruck.query().where('tipeTruckId', trucks.tipeTruckId).first() %}
                          <td>{{ tipeTruck.namaKategori }}</td>
                          {% yield statusTruck = StatusTruk.query().where('statusTruckId', trucks.statusTruckId).first() %}
                          <td>{{ statusTruck.statusName }}</td>
                          <td>
                            <button type="button" onclick="location.href='/detail-truck/{{ trucks.truckId}}'" class="btn btn-sm btn-success" title="View Truck" name="button"><span class="fa fa-eye"></button>
                              <button type="button" class="edit-modal2 btn btn-primary" name="button" title="Update Truck"
                                      data-id = "{{ trucks.trukId }}"
                                      data-plat = "{{ trucks.platTruck }}"
                                      data-nostnk = "{{ trucks.noSTNK }}"
                                      {% yield statusTruck = StatusTruk.query().where('statusTruckId', trucks.statusTruckId).first() %}
                                      data-status ="{{ statusTruck.statusName }}"
                                      {% yield tipeTruck = TipeTruck.query().where('tipeTruckId', trucks.tipeTruckId).first() %}
                                      data-kategori = "{{ tipeTruck.namaKategori }}"
                                      data-toggle = "modal" data-target = "#myModal2"><span class="fa fa-pencil"></button>
                              <button type="button" class="btn btn-sm btn-danger" title="Delete Truck" name="button" onclick="location.href='/delete/truck/{{trucks.truckId}}'"><span class="fa fa-trash-o"></button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <button onclick="location.href='/detail/{{detail.ownerId }}/create-truck'" class="btn btn-primary" type="button" name="button"><span class="fa fa-plus"></span> Tambah Truk</button>
                    <button onclick="location.href='/home/admin/detail/{{detail.ownerId }}/truck-driver'" class="btn btn-primary" type="button" name="button"><span class="fa fa-plus"></span> Pilih Driver</button>
                </div>
              </div>
              <div class="clearfix"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="driver">
              <div class="col-md-12">
                <div class="table-responsive">
                  <h3 class="box-title m-b-0">Daftar Driver</h3>
                    <table id="myTable2" class="table">
                      <thead>
                        <tr>
                          <th>Nama</th>
                          <th>No HP</th>
                          <th>Alamat</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for drivers in driver %}
                        <tr>
                          <td><a href="/detail-driver/{{ drivers.driverId }}">{{ drivers.namaDriver }}</a></td>
                          <td>{{ drivers.noHP }}</td>
                          <td>{{ drivers.alamat }}</td>
                          <td>
                            <button type="button" onclick="location.href='/detail-driver/{{ drivers.driverId }}'" class="btn btn-sm btn-success" title="View Truck" name="button"><span class="fa fa-eye"></button>
                            <button type="button" class="edit-modal btn btn-sm btn-primary" title="Update Truck" name="button" data-id="{{drivers.driverId}}" data-nama="{{drivers.namaDriver}}" data-sim="{{drivers.noSim}}" data-alamat="{{drivers.alamat}}"
                            data-hp="{{drivers.noHP}}" data-ktp="{{drivers.noKTP}}" data-toggle="modal" data-target="#myModal"><span class="fa fa-pencil"></button>
                            <button onclick="location.href='/detail-driver/{{ drivers.driverId }}/delete-driver'" type="button" class="btn btn-sm btn-danger" title="Delete Truck" name="button"><span class="fa fa-trash-o"></button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <button onclick="location.href='/detail/{{ detail.ownerId }}/create-driver'" class="btn btn-primary" type="button" name="button"><span class="fa fa-plus"></span> Tambah Driver</button>
                    <button onclick="location.href='/home/admin/detail/{{detail.ownerId }}/truck-driver'" class="btn btn-primary" type="button" name="button"><span class="fa fa-plus"></span> Pilih Truk</button>
                </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--
  #
  #   Update MODAL for Driver
  #
-->

<div id="myModal" class="modal fade modal-alat" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Driver</h4>
      </div>
      <div class="modal-body">
        <form action="/detail-driver/update-driver" method="post" enctype="multipart/form-data">
          {{ csrfField }}
          <input type="hidden" name="id" id="id-edit">
          <div class="form-group">
            <label for="">Nama</label>
            <input class="form-control" type="text" name="nama" id="nama" value="">
          </div>
          <div class="form-group">
            <label for="">Foto Driver</label>
            <input type="file" name="foto" value="">
          </div>
          <div class="form-group">
            <label for="">Scan KTP</label>
            <input type="file" name="scan_ktp" value="">
          </div>
          <div class="form-group">
            <label for="">No. SIM</label>
            <input class="form-control" type="text" name="no_sim" id="sim" value="">
          </div>
          <div class="form-group">
            <label for="">Alamat Tinggal</label>
            <input class="form-control" type="text" name="alamat_tinggal" id="alamat" value="">
          </div>
          <div class="form-group">
            <label for="">Nomor HP</label>
            <input class="form-control" type="text" name="no_hp" id="hp" value="">
          </div>
          <div class="form-group">
            <label for="">No. KTP</label>
            <input class="form-control" type="text" name="no_ktp" id="ktp" value="">
          </div>
          <br/>
          <div class="modal-footer">
            <button type="submit" id="update_alat" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--
  #
  # Modal for update truck
  #
-->
<div id="myModal2" class="modal fade modal-truck" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Truck</h4>
    </div>
    <div class="modal-body">
      <form action="/detail-truck/{{ truck.truckId }}/update-truck" method="post" enctype="multipart/form-data">
        {{ csrfField }}
        <input type="hidden" name="id" id="id-edit">
        <div class="form-group">
          <label for="">Plat</label>
          <input class="form-control" type="text" name="plat" id="plat" value="">
        </div>
        <div class="form-group">
          <label for="">No. STNK</label>
          <input class="form-control" type="text" name="nostnk" id="nostnk" value="">
        </div>
        <div class="form-group">
          <label for="">Foto Truk</label>
          <input type="file" name="foto" value="">
        </div>
        <div class="form-group">
          <label for="">Scan STNK</label>
          <input type="file" name="stnk" value="">
        </div>
        <div class="form-group">
          <label for="">Status Truk</label>
          {% yield status = StatusTruk.all() %}
          <select class="form-control" name="status">
            {% for item in status.toJSON() %}
              <option value="{{ item.statusTruckId}}">{{item.statusName}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Jenis Armada</label>
          {% yield tipe = TipeTruck.all() %}
          <select class="form-control" name="kategori">
            {% for item in tipe.toJSON() %}
            <option value="{{ item.tipeTruckId}}">{{ item.namaKategori}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Hardware</label>
          <select class="form-control" name="hardware">
            {% for item in hardware %}
            <option id="hardware" value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="modal-footer">
          <button type="submit" id="update_truck" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block additionJS %}
<script type="text/javascript">
$(document).on('click', '.edit-modal', function(){
      $('#id-edit').val($(this).data('id'));
      $('#nama').val($(this).data('nama'));
      $('#sim').val($(this).data('sim'));
      $('#alamat').val($(this).data('alamat'));
      $('#hp').val($(this).data('hp'));
      $('#ktp').val($(this).data('ktp'));
      $('.modal-alat').modal('show');
    });
</script>
<script type="text/javascript">
$(document).on('click', '.edit-modal2', function(){
    $('#id-edit').val($(this).data('id'));
    $('#plat').val($(this).data('plat'));
    $('#nostnk').val($(this).data('nostnk'));
    $('#status').val($(this).data('status'));
    $('#kategori').val($(this).data('kategori'));
    $('.modal-truck').modal('show');
});
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});

$(document).ready(function () {
    $('#myTable2').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});
</script>

<script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
