{% extends 'master' %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Driver Detail</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
            <li><a href="/home/admin">Owner A</a></li>
        </ol>
    </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="white-box">
      <h3 class="box-title">Foto Driver</h3>
      <img class="img-responsive" src="{{driver.photoDriver}}" alt="Foto Truk">
      <h3 class="box-title">Foto KTP</h3>
      <img class="img-responsive" src="{{driver.gambarKTP}}" alt="Foto STNK">
    </div>
  </div>
  <div class="col-md-7">
    <div class="white-box">
      <div class="col-md-4 pull-right">
          <button type="button" class="edit-modal btn btn-primary" name="button"
          data-id="{{driver.driverId}}" data-nama="{{driver.namaDriver}}" data-sim="{{driver.noSim}}" data-alamat="{{driver.alamat}}"
          data-hp="{{driver.noHP}}" data-ktp="{{driver.noKTP}}" data-toggle="modal" data-target="#myModal">Update</button>
          <button onclick="location.href='/detail-driver/{{ driver.driverId }}/delete-driver'" type="button" class="btn btn-danger" name="button">Delete</button>
      </div>

      <h3 class="box-title">{{ driver.namaDriver }}</h3>
      <hr>
      <div class="row">
        <div class="scrollable">
          <ul class="list-style-none">
              <li><a href="javascript:void(0)"><strong>Nama</strong><span>{{ driver.namaDriver }}</span></a></li>
              <li><a href="javascript:void(0)"><strong>Alamat</strong><span>{{ driver.alamat }}</span></a></li>
              <li><a href="javascript:void(0)"><strong>No KTP</strong><span>{{ driver.noKTP }}</span></a></li>
              <li><a href="javascript:void(0)"><strong>No SIM</strong><span>{{ driver.noSim }}</span></a></li>
              <li><a href="javascript:void(0)"><strong>No HandPhone</strong><span>{{ driver.noHP }}</span></a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)"><strong>Username<span>{{ user.username }}</span></strong></a></li>
              <li><a href="javascript:void(0)"><strong>Email<span>{{ user.email }}</span></strong></a></li>
          </ul>
        </div>
      </div>
      <button type="button" name="button" class="edit-account btn btn-primary" data-userId="{{user.userId}}"
      data-username="{{ user.username }}" data-email="{{ user.email }}" data-toggle="modal"
      data-target="#modalAccount">Update Account</button>
    </div>
  </div>
</div>


<!--
  #
  #   Update MODAL for Driver
  #
-->

<div id="myModal" class="modal fade modal-driver" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Driver</h4>
      </div>
      <div class="modal-body">
        <form action="/detail-driver/{{ driver.driverId }}/update-driver" method="post" enctype="multipart/form-data">
          {{ csrfField }}
          <input type="hidden" name="id" id="id-edit">
          <div class="form-group">
            <label for="">Nama</label>
            <input class="form-control" type="text" name="nama" id="nama" value="">
          </div>
          <div class="form-group">
            <label for="">Foto Driver</label>
            <input type="file" name="foto" value="">
          </div>
          <div class="form-group">
            <label for="">Scan KTP</label>
            <input type="file" name="scan_ktp" value="">
          </div>
          <div class="form-group">
            <label for="">No. SIM</label>
            <input class="form-control" type="text" name="no_sim" id="sim" value="">
          </div>
          <div class="form-group">
            <label for="">Alamat Tinggal</label>
            <input class="form-control" type="text" name="alamat_tinggal" id="alamat" value="">
          </div>
          <div class="form-group">
            <label for="">Nomor HP</label>
            <input class="form-control" type="text" name="no_hp" id="hp" value="">
          </div>
          <div class="form-group">
            <label for="">No. KTP</label>
            <input class="form-control" type="text" name="no_ktp" id="ktp" value="">
          </div>
          <br/>
          <div class="modal-footer">
            <button type="submit" id="update_alat" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{#
 # Modal for update driver account
 #}

 <div id="modalAccount" class="modal fade modal-account" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Edit Driver</h4>
       </div>
       <div class="modal-body">
         <form action="/detail-driver/{{ driver.driverId }}/update-driver/account" method="post">
           {{ csrfField }}
           <input type="hidden" name="userId" id="userId">
           <div class="form-group">
             <label for="">Username</label>
             <input class="form-control" type="text" name="username" id="username">
           </div>
           <div class="form-group">
             <label for="">Email</label>
             <input class="form-control" type="text" name="email" id="email">
           </div>
           <div class="form-group">
             <label for="">Password</label>
             <input class="form-control" type="password" name="password">
           </div>
           <br/>
           <div class="modal-footer">
             <button type="submit" id="update_alat" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>
{% endblock %}

{% block additionJS %}
  <script type="text/javascript">
  $(document).on('click', '.edit-modal', function(){
        $('#id-edit').val($(this).data('id'));
        $('#nama').val($(this).data('nama'));
        $('#sim').val($(this).data('sim'));
        $('#alamat').val($(this).data('alamat'));
        $('#hp').val($(this).data('hp'));
        $('#ktp').val($(this).data('ktp'));
        $('.modal-driver').modal('show');
  });

  $(document).on('click', '.edit-account', function(){
        $('#userId').val($(this).data('userid'));
        $('#username').val($(this).data('username'));
        $('#email').val($(this).data('email'));
        $('.modal-account').modal('show');
  });
  </script>
{% endblock %}
