{% extends 'master' %}

{% block additionCSS %}

{% endblock %}

{% block content %}
{% set StatusTruk = use('App/Model/StatusTruk') %}
{% set TipeTruck = use('App/Model/TipeTruck') %}

  <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Truck Detail</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
              <li><a href="/home/admin">Dashboard</a></li>
              <li><a href="/home/admin">Owner A</a></li>
          </ol>
      </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="white-box">
        <h3 class="box-title">Foto Truk</h3>
        <img class="img-responsive" src="{{truck.photoTruck}}" alt="Foto Truk">
        <h3 class="box-title">Foto STNK</h3>
        <img class="img-responsive" src="{{truck.photoSTNK}}" alt="Foto STNK">
      </div>
    </div>
    <div class="col-md-7">
      <div class="white-box">
        <div class="col-md-4 pull-right">
          <button type="button" class="edit-modal btn btn-primary" name="button"
                data-id = "{{ truck.trukId }}"
                data-plat = "{{ truck.platTruck }}"
                data-nostnk = "{{ truck.noSTNK }}"
                data-toggle = "modal" data-target = "#myModal">Update</button>
          <button type="button" class="btn btn-danger" name="button" onclick="location.href='/delete/truck/{{truck.truckId}}'">Delete</button>
        </div>

        <h3 class="box-title">{{ truck.platTruck }}</h3>
        <div class="row">
          <div class="scrollable">
            <ul class="list-style-none">
                <li><a href="javascript:void(0)"><strong>No Plat</strong><span>{{ truck.platTruck }}</span></a></li>
                <li><a href="javascript:void(0)"><strong>No STNK</strong><span>{{ truck.noSTNK }}</span></a></li>
                {% yield statusTruck = StatusTruk.query().where('statusTruckId', truck.statusTruckId).first() %}
                <li><a href="javascript:void(0)"><strong>Status</strong><span>{{statusTruck.statusName}}</span></a></li>
                {% yield tipeTruck = TipeTruck.query().where('tipeTruckId', truck.tipeTruckId).first() %}
                <li><a href="javascript:void(0)"><strong>Jenis Armada</strong><span>{{ tipeTruck.namaKategori }}</span></a></li>
                <li><a href="javascript:void(0)"><strong>Panjang Muatan</strong><span>{{ tipeTruck.panjangMuatan }}</span></a></li>
                <li><a href="javascript:void(0)"><strong>Lebar Muatan</strong><span>{{ tipeTruck.lebarMuatan }}</span></a></li>
                <li><a href="javascript:void(0)"><strong>Tinggi Muatan</strong><span>{{ tipeTruck.tinggiMuatan }}</span></a></li>
                <li><a href="javascript:void(0)"><strong>Berat Max</strong><span>{{ tipeTruck.beratMax }}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
  # Modal for  Truck Update
  #
  -->


  <div id="myModal" class="modal fade modal-alat" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Truck</h4>
      </div>
      <div class="modal-body">
        <form action="/detail-truck/{{ truck.truckId }}/update-truck" method="post" enctype="multipart/form-data">
          {{ csrfField }}
          <input type="hidden" name="id" id="id-edit">
          <div class="form-group">
            <label for="">Plat</label>
            <input class="form-control" type="text" name="plat" id="plat" value="">
          </div>
          <div class="form-group">
            <label for="">No. STNK</label>
            <input class="form-control" type="text" name="nostnk" id="nostnk" value="">
          </div>
          <div class="form-group">
            <label for="">Foto Truk</label>
            <input type="file" name="foto" value="">
          </div>
          <div class="form-group">
            <label for="">Scan STNK</label>
            <input type="file" name="stnk" value="">
          </div>
          <div class="form-group">
            <label for="">Status Truk</label>
            {% yield status = StatusTruk.all() %}
            <select class="form-control" name="status">
              {% for item in status.toJSON() %}
                <option value="{{ item.statusTruckId}}">{{item.statusName}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="">Jenis Armada</label>
            {% yield tipe = TipeTruck.all() %}
            <select class="form-control" name="kategori">
              {% for item in tipe.toJSON() %}
              <option value="{{ item.tipeTruckId}}">{{ item.namaKategori}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="">Hardware</label>
            <select class="form-control" name="hardware">
              {% for item in hardware%}
              <option id="hardware" value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
          <br/>
          <div class="modal-footer">
            <button type="submit" id="update_truck" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block additionJS %}
<script type="text/javascript">
  $(document).on('click', '.edit-modal', function(){
        $('#id-edit').val($(this).data('id'));
        $('#plat').val($(this).data('plat'));
        $('#nostnk').val($(this).data('nostnk'));
        $('.modal-alat').modal('show');
      });
  </script>
{% endblock %}
