{% extends 'master' %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Settings</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
            <li><a href="/home/admin/settings">Settings</a></li>
        </ol>
    </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">
        <h3 class="box-title m-b-0">Settings</h3>
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>Nama Setting</th>
              <th>Setting</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for setting in settings %}
            <tr>
              <td>{{ setting.namaSettings}}</td>
              <td>{{ setting.isiSettings }}</td>
              <td>
                <button type="button" name="button" class="edit-modal btn btn-sm btn-primary"
                  data-id="{{ setting.id}}" data-nama="{{setting.namaSettings}}"
                  data-setting="{{setting.isiSettings}}" data-toggle="modal" data-target="#updateModal">
                  <span class="fa fa-pencil">
               </button>
                <button type="button" name="button" class="btn btn-sm btn-danger"><span class="fa fa-trash-o"></button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#addModal"><span class="fa fa-plus"></span> Tambah Setting</button>
    </div>
  </div>
</div>

{#
 # Modal for
 # add settings
 #}

 <div id="addModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Tambah Setting</h4>
       </div>
       <div class="modal-body">
         <form action="/store/settings" method="post">
           {{ csrfField }}
           <div class="form-group">
             <label for="">Nama Setting</label>
             <input class="form-control" type="text" name="nama" required>
           </div>
           <div class="form-group">
             <label for="">Setting</label>
             <input class="form-control" type="text" name="settings" required>
           </div>
           <br/>
           <div class="modal-footer">
             <button type="submit" class="btn actionBtn btn-default"><span class="glyphicon glyphicon-forward"></span>Save</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>

 {#
  # Modal for
  # update settings
  #}

  <div id="updateModal" class="modal fade modal-update" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Setting</h4>
        </div>
        <div class="modal-body">
          <form action="/update/setting" method="post">
            {{ csrfField }}
            <input type="hidden" name="id" id="id-edit">
            <div class="form-group">
              <label for="">Nama Setting</label>
              <input class="form-control" type="text" name="nama" id="nama">
            </div>
            <div class="form-group">
              <label for="">Setting</label>
              <input class="form-control" type="text" name="setting" id="setting">
            </div>
            <br/>
            <div class="modal-footer">
              <button type="submit" id="update_alat" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
<script type="text/javascript">
$(document).on('click', '.edit-modal', function(){
      $('#id-edit').val($(this).data('id'));
      $('#nama').val($(this).data('nama'));
      $('#setting').val($(this).data('setting'));
      $('.modal-update').modal('show');
    });
</script>

<script>
$(document).ready(function () {
    $('#myTable').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});
</script>

<script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
