{% extends 'master' %}

{% block additionCSS %}
    <link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
  <div class="row">
    <h3>Detail Owner : {{ detail.namaOwner}}</h3>
    <div class="col-md-2">
       <img src="/uploads/{{detail.photoDriver}}" alt="foto owner" width="150px">
    </div>
    <div class="col-md-10">
      <h4>Data Diri</h4>
      <table class="table">
        <tr>
          <td>Nama</td>
          <td>:</td>
          <td>{{ detail.namaOwner }}</td>
          <td>No. KTP</td>
          <td>:</td>
          <td>{{ detail.noHP }}</td>
        </tr>
        <tr>
          <td>Bank</td>
          <td>:</td>
          <td>{{ detail.bank }}</td>
          <td>No. Rekening</td>
          <td>:</td>
          <td>{{ detail.noRekening }}</td>
        </tr>

        <tr>
          <td>No. KTP</td>
          <td>:</td>
          <td colspan="4">{{ detail.noKTP }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-12 b-r">
      <h4>Data Akun</h4>
      <div class="col-md-5">
        <table class="table">
          <tr>
            <td>Username</td>
            <td>:</td>
            <td>{{ user.username}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>{{ user.email }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <button type="button" name="button" class="btn btn-danger">Delete</button>
      <button type="button" name="button" class="btn btn-success">Update</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <h3 class="box-title m-b-0">Daftar Truk</h3>
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>Plat Truk</th>
              <th>No. STNK</th>
              <th>Tipe Truk</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Plat</td>
              <td>STNK</td>
              <td>Volvo</td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <h3 class="box-title m-b-0">Daftar Driver</h3>
        <table id="myTable1" class="table">
          <thead>
            <tr>
              <th>Nama</th>
              <th>No. KTP</th>
              <th>Alamat</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>yeah</td>
              <td>s</td>
              <td>Volvo</td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}

{% block additionJS %}
  <script type="text/javascript">
  $(document).ready(function () {
      $('#myTable').DataTable();
      $(document).ready(function () {
          var table = $('#example').DataTable({
              "columnDefs": [
                  {
                      "visible": false
                      , "targets": 2
                  }
                ]
              , "order": [[2, 'asc']]
              , "displayLength": 25
              , "drawCallback": function (settings) {
                  var api = this.api();
                  var rows = api.rows({
                      page: 'current'
                  }).nodes();
                  var last = null;
                  api.column(2, {
                      page: 'current'
                  }).data().each(function (group, i) {
                      if (last !== group) {
                          $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                          last = group;
                      }
                  });
              }
          });
      });
  });

  $(document).ready(function () {
      $('#myTable1').DataTable();
      $(document).ready(function () {
          var table = $('#example').DataTable({
              "columnDefs": [
                  {
                      "visible": false
                      , "targets": 2
                  }
                ]
              , "order": [[2, 'asc']]
              , "displayLength": 25
              , "drawCallback": function (settings) {
                  var api = this.api();
                  var rows = api.rows({
                      page: 'current'
                  }).nodes();
                  var last = null;
                  api.column(2, {
                      page: 'current'
                  }).data().each(function (group, i) {
                      if (last !== group) {
                          $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                          last = group;
                      }
                  });
              }
          });
      });
  });
  </script>
  <script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
