{% extends 'master' %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Form Tarif</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home">Dashboard</a></li>
            <li><a href="#">Form Tarif</a></li>
        </ol>
    </div>
</div>

  <div class="row">
    <div class="col-md-7">
      <div class="white-box">
        <h3 class="box-title">Form Tarif</h3>
        <form data-toggle="validator" novalidate="true" action="/home/admin-tarif/create-tarif" method="post">
          {{ csrfField }}
          <div class="form-group">
            <label for="">Kota Asal</label>
            <input class="form-control" type="text" name="kotaAsal" placeholder="Kota Asal" data-error="* Wajib diisi" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="">Kota Tujuan</label>
            <input class="form-control" type="text" name="kotaTujuan" placeholder="Kota Tujuan" data-error="* Wajib diisi" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="">Biaya/Km</label>
            <input class="form-control" type="number" min="1000" name="biayaPerKm" id="perkm" value="" placeholder="Rp. 0.00" required>
          </div>
          <div class="form-group">
            <label for="">Biaya/100 Kg</label>
            <input class="form-control" type="number" min="1000" name="biayaPer100" id="per100" value="" placeholder="Rp. 0.00" required>
          </div>
          <div class="form-group">
            <label for="">Biaya Supir/hari</label>
            <input class="form-control" type="number" min="1000" name="biayaSupir" id="supir" value="" placeholder="Rp. 0.00" required>
          </div>
          <div class="form-group">
            <label for="">Biaya Tambahan</label>
            <input class="form-control" type="number" min="1000" name="biayaTambahan" id="tambahan" value="" placeholder="Rp. 0.00" required>
          </div>
          <br/>
          <div class="form-group">
            <button type="submit" id="update_truck" class="btn btn-primary" >Save</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-5">
      <div class="white-box">
        <h3 class="box-title m-b-0">Tipe Tarif</h3>
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>Kota Asal</th>
              <th>Kota Tujuan</th>
            </tr>
          </thead>
          <tbody>
            {% for tipe in tipeTarif %}
            <tr>
              <td>{{tipe.kotaAsal}}</td>
              <td>{{tipe.kotaTujuan}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
  <script type="text/javascript">
  $(document).ready(function () {
      $('#myTable').DataTable();
      $(document).ready(function () {
          var table = $('#example').DataTable({
              "columnDefs": [
                  {
                      "visible": false
                      , "targets": 2
                  }
                ]
              , "order": [[2, 'asc']]
              , "displayLength": 25
              , "drawCallback": function (settings) {
                  var api = this.api();
                  var rows = api.rows({
                      page: 'current'
                  }).nodes();
                  var last = null;
                  api.column(2, {
                      page: 'current'
                  }).data().each(function (group, i) {
                      if (last !== group) {
                          $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                          last = group;
                      }
                  });
              }
          });
      });
  });
  </script>
  <script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
