{% extends "master-operator" %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
<style>
   #map {
    height: 600px;
    width: 100%;
   }


   .my-custom-class-for-label {
    width: 80px; height: 18px;

    border: 0px solid #1466CC;
    border-radius: 0px;

    background: #1466CC;
    color: #fff;
    text-align: center;
    /*line-height: 20px;*/

    font-weight: bold;
    font-size: 14px;
  }

  #floating-panel {
        position: absolute;
        top: 600px;
        left: 35%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #iw-container .iw-title {
        	font-family: 'Open Sans Condensed', sans-serif;
        	font-size: 18px;
        	font-weight: 400;
        	padding: 5px;
        	background-color: #48b5e9;
        	color: white;
        	border-radius: 2px 2px 0 0;
        }
        #iw-container .iw-content {
        	font-size: 12px;
        	line-height: 18px;
        	font-weight: 400;
        	margin-right: 1px;
        	padding: 5px 0px 20px 15px;
        	max-height: 140px;
        	overflow-y: auto;
        	overflow-x: hidden;
        }
        .iw-content img {
        	float: left;
        	margin: -5px 25px 5px -21px;
        }
        .iw-subTitle {
        	font-size: 14px;
        	font-weight: 700;
        	padding: 5px 0;
        }
        .iw-bottom-gradient {
        	position: absolute;
        	width: 350px;
        	height: 25px;
        	bottom: 0px;
        	right: 18px;
        	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        }

</style>
{% endblock %}

{% block content %}
<div class="col-md-4" id="floating-panel">
    <input type="text" class="form-control" id="search-location" placeholder="Search location">
</div>
  <div id="map"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>No. Plat Truck</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>plat</td>
                <td>status</td>
                <td><button type="button" id="wish" class="btn btn-primary btn-sm" name="button">Lihat lokasi</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
  <script>
      var map;
      var indonesia = { lat: -0.97715632, lng: 118.11859263 }
      var markerData = [];
      var newMarkers = [];
      var icon = '/assets/map/marker_truk.png';
      var directionsDisplay;
      var directionsService;

      function initMap() {
        //create map
        map = new google.maps.Map(document.getElementById('map'), {
          center: indonesia,
          zoom: 5
        });

        /////////////////////////////
        //create directions
        /////////////////////////////
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;

        /*
        **  The tooltip , the ajax, the delete marker, re assign marker
        **  Markers Clusters
        **  Zoom the marker
        */
        var markers = [
          {latitude: 2.970042, longitude: 99.0681668},
          {latitude: 2.6273112, longitude: 98.7922018}
        ];

        //////////////////////////////////////////////
        // Auto-complete geolocation
        //////////////////////////////////////////////
        // Create the search box and link it to the UI element.
  			var input = document.getElementById('search-location');
  			var searchBox = new google.maps.places.SearchBox(input);
        //
        //////////////////////////////////////////////

        //for map control the full screen buton on top right
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(
     	    FullScreenControl(map));

        // Bias the SearchBox results towards current map's viewport.
  			map.addListener('bounds_changed', function() {
  			  searchBox.setBounds(map.getBounds());
  			});

        // Listen for the event fired when the user selects a prediction and retrieve
  			// more details for that place.
  			searchBox.addListener('places_changed', function() {
  			  var places = searchBox.getPlaces();

  			  if (places.length == 0) {
  				return;
  			  }

  			// For each place, get the icon, name and location.
  			  var bounds = new google.maps.LatLngBounds();
  			  places.forEach(function(place) {
  				if (!place.geometry) {
  				  console.log("Returned place contains no geometry");
  				  return;
  				}

  				if (place.geometry.viewport) {
  				  // Only geocodes have viewport.
  				  bounds.union(place.geometry.viewport);
  				} else {
  				  bounds.extend(place.geometry.location);
  				}
  			  });
  			  map.fitBounds(bounds);
  			});

        displayMarkers(markers);
      }

      function displayMarkers(markers) {
        for (var i = 0; i < markers.length; i++) {
          createMarker(markers[i]);
        }
      }

      function deleteMarker() {
        for (var i = 0; i < markerData.length; i++) {
          markerData[i].setMap(null);
        }
        markerData.length = 0;
      }

      function createMarker(ObjMarker) {
        if (ObjMarker.statusName == "sos") {
          icon = '/assets/map/marker_sos.png';
        }else if (ObjMarker.statusName == "diluar jalur") {
          icon = '/assets/map/marker_terlambat.png';
        }else if (ObjMarker.statusName == "disewa") {
          icon = '/assets/map/marker_disewa.png';
        }else {
          icon = '/assets/map/marker_truk.png';
        }
        //create marker
        var marker = new MarkerWithLabel({
            map               : map,
            status            : ObjMarker.statusName,
            tipeTruck         : ObjMarker.namaKategori,
            truckId           : ObjMarker.truckId,
            namaDriver        : ObjMarker.namaDriver,
            fotoTruck         : ObjMarker.photoTruck,
            plat              : ObjMarker.platTruck,
            lat_pickup        : ObjMarker.latPickup,
            long_pickup       : ObjMarker.longPickup,
            lat_drop          : ObjMarker.latDrop,
            long_drop         : ObjMarker.longDrop,
            icon              : icon,
            position          : new google.maps.LatLng(ObjMarker.latitude, ObjMarker.longitude),
            labelContent      : ObjMarker.platTruck,
            labelAnchor       : new google.maps.Point(18, 12),
            labelClass        : "my-custom-class-for-label", // the CSS class for the label
            labelInBackground : true
        });

        markerData.push(marker);
        //console.log(markerData);
        //tooltip


        // Creating the content to be inserted in the infowindow
        var iwContent = '<div id="iw-container">' +
                            '<div class="iw-title">' + marker.plat + '</div>' +
                            '<div class="iw-content" style="border-bottom-style: inset; border-bottom-color: #48b5e9; margin-bottom: 5px;">' +
                              '<div class="iw-subTitle">Data Truk</div>' +
                                  '<div class="col-md-12" style="margin-left: -15px;">' +
                                      '<div class="col-md-10" style="margin-left: -15px;">' +
                                            '<table class="table" style="font-size: 10pt;">' +
                                               '<tbody>' +
                                                   '<tr>' +
                                                       '<td>Status</td>' +
                                                       '<td>' + marker.status + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td>Driver</td>' +
                                                       '<td>' + marker.namaDriver + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td>Tipe Truk</td>' +
                                                       '<td>' + marker.tipeTruck + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td>Status</td>' +
                                                       '<td>' + marker.status + '</td>' +
                                                   '</tr>' +
                                               '</tbody>' +
                                            '</table>' +
                                      '</div>' +
                                      '<div class="col-md-2">' +
                                            '<img src="/uploads/'+ marker.fotoTruck +'" class="img-responsive" alt="Foto TRUCK" height="125" width="93">' +
                                      '</div>' +
                                  '</div>' +
                            '</div>' +
                            '<button type="button" class="btn btn-sm btn-danger" style="margin-right: 5px;" title="Matikan SOS" name="button">Matikan SOS</button>' +
                            '<button type="button" class="btn btn-sm btn-warning" style="margin-right: 5px;" title="Matikan Mesin" name="button">Matikan Mesin</button>' +
                            '<button type="button" class="btn btn-sm btn-success" style="margin-right: 5px;" title="Dengarkan Kokpit" name="button">Dengarkan Kokpit</button>' +
                            '<button type="button" data-lat_pickup="'+ marker.lat_pickup +'" data-long_pickup="'+ marker.long_pickup +'" data-lat_drop="'+ marker.lat_drop +'" data-long_drop="'+ marker.long_drop +'" class="lihatrute btn btn-primary btn-sm" class="btn btn-sm btn-primary" title="Lihat Rute" name="button">Lihat Rute</button>' +
                        '</div>';

        var infoWindow = new google.maps.InfoWindow({
              content         : iwContent,
              maxWidth        : 400,
              disableAutoPan  : true
        });


        google.maps.event.addListener(marker, 'click', function() {
           infoWindow.open(map, marker);
           directionsDisplay.setMap(null);
           map.setCenter(marker.getPosition());
           smoothZoom(map, 14, map.getZoom());
        });

        google.maps.event.addListener(map, 'click', function() {
           if(directionsDisplay != null){
                 directionsDisplay.setMap(null);
           }else {
                 directionsDisplay.setMap(null);
           }

           map.setCenter(indonesia);
           map.setZoom(5);
           infoWindow.close();
        });

        $(document).on('click', '.lihatrute', function(){
            infoWindow.close();
            if(directionsDisplay != null){
                  directionsDisplay.setMap(null);
                  directionsDisplay.setMap(map);
            }else {
                  directionsDisplay.setMap(map);
            }
            directionsDisplay.setMap(map);
            var lat_pickup = $(this).data('lat_pickup');
            var long_pickup = $(this).data('long_pickup');
            var lat_drop = $(this).data('lat_drop');
            var long_drop = $(this).data('long_drop');

            var pickup  = new google.maps.LatLng(lat_pickup, long_pickup);
            var drop = new google.maps.LatLng(lat_drop, long_drop);
            calculateAndDisplayRoute(pickup, drop);
        });

    }

    function calculateAndDisplayRoute(pickup, drop) {
      directionsService.route({
        origin: pickup,
        destination: drop,
        provideRouteAlternatives: false,
        travelMode: 'DRIVING'
      }, function(response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }
  </script>
  <script src="/js/FullScreenControl.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMDKoeOMti-M4RsEyAhkcMCXWwsGlTqRc&libraries=places&callback=initMap"></script>
  <script src="https://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js"></script>
  <script>
  /////////////////////////////////
  // Event button lihat lokasi  //
  ////////////////////////////////

  $(document).on('click', '.seeLct', function(){
    var lat = $(this).data('lat');
    var long = $(this).data('long');
    var centerMap = { lat: lat, lng: long }

    // console.log(centerMap);
    map.setCenter(centerMap);
    smoothZoom(map, 14, map.getZoom());
  });

  function smoothZoom(map, max, cnt) {
    if (cnt >= max) {
      return;
    }else {
      z = google.maps.event.addListener(map, 'zoom_changed', function(event) {
          google.maps.event.removeListener(z);
          smoothZoom(map, max, cnt + 1);
      });
      setTimeout(function() {map.setZoom(cnt)}, 80);
    }
  }

/////////////////////////////////////
//  Akhir dari button lihat lokasi //
/////////////////////////////////////

//////////////////////////////////////////////////////////////////////
//function for ajax request to getAllLocation route every x seconds //
/////////////////////////////////////////////////////////////////////

  (function getLocation() {
    $.ajax({
      url:"/getAllTruckPosition",
      success: function(position){
        //set the markers variable length to 0
        deleteMarker();
        //displaying markers
        displayMarkers(position);

        //////////////////////
        // Update row table //
        //////////////////////
        var content = '';
        for (var i = 0; i < position.length; i++) {
        content += '<tr>';
        content += '<td>' + position[i].platTruck + '</td>';
        content += '<td>' + position[i].statusName + '</td>';
        content += '<td><button type="button" data-lat="'+position[i].latitude+'" data-long="'+ position[i].longitude +'" class="seeLct btn btn-primary btn-sm" name="button">Lihat lokasi</button></td>';
        // content += '<td><a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a></td>';
        content += '</tr>';
        }
         $('#myTable tbody').html(content);

        //////////////////////
      },
      complete: function(){
        setTimeout(getLocation, 30000)
      }
    })
  })();

  (function getSOS() {
    $.ajax({
      url:"/getSOS",
      success: function() {
        console.log("getSOS() called");
      },
      complete: function(){
        setTimeout(getSOS, 30000)
      }
    })
  })();

  </script>
{#
 #  Script for
 #  DataTable
 #}
 <script type="text/javascript">
 $(document).ready(function () {
     $('#myTable').DataTable();
     $(document).ready(function () {
         var table = $('#example').DataTable({
             "columnDefs": [
                 {
                     "visible": false
                     , "targets": 2
                 }
   ]
             , "order": [[2, 'asc']]
             , "displayLength": 25
             , "drawCallback": function (settings) {
                 var api = this.api();
                 var rows = api.rows({
                     page: 'current'
                 }).nodes();
                 var last = null;
                 api.column(2, {
                     page: 'current'
                 }).data().each(function (group, i) {
                     if (last !== group) {
                         $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                         last = group;
                     }
                 });
             }
         });
     });
 });
 </script>
 <script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>


{% endblock %}
