{% extends 'master' %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>No. Plat Truck</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>

            <tr>
                <td>as</td>
                <td>ss</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});
</script>
<script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>

<script type="text/javascript">
(function getTruck() {
  $.ajax({
    url:"/getAllTruck",
    success: function(position){
      var content = '';
      //content += '<tbody>'; -- **superfluous**
      for (var i = 0; i < position.length; i++) {
      content += '<tr>';
      content += '<td>' + position[i].platTruck + '</td>';
      content += '<td>' + position[i].statusName + '</td>';
      // content += '<td><a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a></td>';
      content += '</tr>';
      }
     // content += '</tbody>';-- **superfluous**
      //$('table tbody').replaceWith(content);  **incorrect..**
       $('#myTable tbody').html(content);
       console.log(content);
    },
    complete: function(){
      setTimeout(getTruck, 3000)
    }
  })
})();

</script>
{% endblock %}
