{% extends "master" %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Truk dan Driver</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
            <li><a href="/detail/{{ ownerId}}">Owner</a></li>
            <li><a href="#">Truk dan Driver</a></li>
        </ol>
    </div>
</div>
  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <form class="" action="/home/admin/detail/{{ownerId}}/truck-driver/store" method="post">
          {{ csrfField }}
          <div class="form-group">
            <label>Truck</label>
            <select class="form-control" name="truck">
              {% for trucks in truck %}
              <option value="{{trucks.truckId}}">{{trucks.platTruck}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Driver</label>
            <select class="form-control" name="driver">
              {% for drivers in driver %}
              <option value="{{drivers.driverId}}">{{drivers.namaDriver}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="white-box">
        <div class="table-responsive">
          <table class="table" id="myTable">
            <thead>
              <tr>
                <th>Truck</th>
                <th>Driver</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for trkDrv in truckDriver %}
              <tr>
                <td>{{trkDrv.platTruck}}</td>
                <td>{{trkDrv.namaDriver}}</td>
                <td><a href="/home/admin/detail/:ownerId/truck-driver/delete/{{trkDrv.truckDriverId}}"><span class="fa fa-trash"></span></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});
</script>

<script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
