{% extends 'master' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <h3 class="box-title m-b-0">Detail Truck</h3>
        <div class="col-md-3">
          <img src="/uploads/{{truck.photoTruck}}" alt="Foto Truk" height="200px">
        </div>
        <div class="col-md-9">
          <h4>Data Truck</h4>
          <table class="table">
            <tr>
              <td>Plat</td>
              <td>:</td>
              <td>{{ truck.platTruck }}</td>
            </tr>
            <tr>
              <td>Jenis Armada</td>
              <td>:</td>
              <td>{{ truck.tipeTruckId }}</td>
            </tr>
            <tr>
              <td>No. STNK</td>
              <td>:</td>
              <td>{{ truck.noSTNK }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>:</td>
              <td>{{ truck.statusTruckId }}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <img src="/uploads/{{truck.photoSTNK}}" alt="Foto STNK" height="300px">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
