{% extends 'master' %}

{% block content %}
  <div class="row">
    <div class="white-box">
      <h3>Create Tipe Hardware</h3>
      <form class="" action="create-tipe-hardware" method="post">
        {{ csrfField }}
        <div class="col-md-10">
          <h4>Data Tipe Hardware</h4>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Nama</label>
              <input class="form-control" type="text" name="nama">
            </div>
            <div class="form-group">
              <label for="">Format Setup</label>
              <textarea class="form-control" name="format_setup" rows="5" placeholder="Masukkan format setup"></textarea>
            </div>
            <div class="form-group">
              <label for="">Format Output</label>
              <textarea class="form-control" name="format_output" rows="5" placeholder="Masukkan format lokasi"></textarea>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-danger" name="button">Reset</button>
              <button type="submit" class="btn btn-success" name="button">Register</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
