{% extends 'master' %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Create Hardware</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="">Dashboard</a></li>
        </ol>
    </div>
</div>

<div class="row">
  <form action="/create-hardware" method="post">
    {{ csrfField }}
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Create Device</h3>
      </div>
    </div>
  </form>
</div>
{% endblock %}
