{% extends 'master' %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">GPS Device</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
        </ol>
    </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <h3>Hardware</h3>
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>Nama</th>
              <th>Unique ID</th>
              <th>No SIM Card</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for data in hardware %}
            <tr>
              <td><a href="#">{{ data.name }}</a></td>
              <td>{{data.uniqueid}}</td>
              <td>{{data.phone}}</td>
              <td>
                <a href="#" class="edit-modal btn btn-sm btn-primary" data-id="{{ data.id }}"
                  data-nama="{{data.name}}" data-uniqueid="{{ data.uniqueid}}"
                  data-phone="{{data.phone}}" data-toggle="modal" data-target="#myModal"
                  title="Update Device"><span class="fa fa-pencil">
                </a>
                <a href="/devices/{{ data.id }}/delete-devices" class="btn btn-sm btn-danger" title="Delete Device"><span class="fa fa-trash-o"></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--
    #
    #   Modal for update the devices
    #
  -->

  <div id="myModal" class="modal fade modal-alat" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Driver</h4>
        </div>
        <div class="modal-body">
          <form action="/devices/update-devices" method="post">
            {{ csrfField }}
            <input type="hidden" name="id" id="id-edit">
            <div class="form-group">
              <label for="">Nama</label>
              <input class="form-control" type="text" name="name" id="nama" value="">
            </div>
            <div class="form-group">
              <label for="">Unique ID</label>
              <input class="form-control" type="text" name="uniqueid" id="uniqueid" value="">
            </div>
            <div class="form-group">
              <label for="">Nomor SIM Card</label>
              <input class="form-control" type="text" name="phone" id="phone" value="">
            </div>
            <br/>
            <div class="modal-footer">
              <button type="submit" id="update_alat" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
<script type="text/javascript">
$(document).on('click', '.edit-modal', function(){
      $('#id-edit').val($(this).data('id'));
      $('#nama').val($(this).data('nama'));
      $('#uniqueid').val($(this).data('uniqueid'));
      $('#phone').val($(this).data('phone'));
      $('.modal-alat').modal('show');
    });
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});
</script>
<script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
