{% extends 'master' %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
{# {% set TipeTarif = use('App/Model/TipeTarif') %} #}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Tarif Sewa Truk</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home">Dashboard</a></li>
        </ol>
    </div>
</div>

{# {% if messages %}
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success! </strong>{{ messages.success }}
  </div>
{% endif %} #}

<div class="row">
  <div class="col-md-4">
    <div class="white-box">
      <h3 class="box-title m-b-0">Tarif Normal</h3>
      <hr>
      <p><strong>Biaya per Km</strong></p>
      <p>Rp. {{tarifNormal.tarifPerKm}}</p>
      <p><strong>Biaya per 100 Kg Kargo</strong></p>
      <p>Rp. {{tarifNormal.tarifPer100Kilo}}</p>
      <p><strong>Biaya Supir per Hari</strong></p>
      <p>Rp. {{tarifNormal.tarifSupir}}</p>
      <p><strong>Biaya Tambahan Hari Besar</strong></p>
      <p>Rp. {{tarifNormal.tarifTambahan}}</p>
      <br><br>
      <div class="col-md-offset-10">
        <button type="button" class="edit-nrm btn btn-sm btn-primary"
         data-idnrm="{{tarifNormal.tarifId}}"
         data-perkmnrm="{{tarifNormal.tarifPerKm}}" data-per100nrm="{{tarifNormal.tarifPer100Kilo}}"
         data-supirnrm="{{tarifNormal.tarifSupir}}" data-tambahannrm="{{tarifNormal.tarifTambahan}}"
         data-toggle ="modal" data-target = "#nrmModal" name="button">Edit</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="white-box">
      <h3 class="box-title m-b-0">Tarif Khusus</h3>
      <hr>
      <div class="table-responsive">
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>Kota Asal</th>
              <th>Kota Tujuan</th>
              <th>Biaya/Km</th>
              <th>Biaya/100 Kg</th>
              <th>Biaya Supir/hari</th>
              <th>Biaya Tambahan</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for trfKhusus in tarifKhusus %}
            <tr>
              <td>{{trfKhusus.kotaAsal}}</td>
              <td>{{trfKhusus.kotaTujuan}}</td>
              <td>{{trfKhusus.tarifPerKm}}</td>
              <td>{{trfKhusus.tarifPer100Kilo}}</td>
              <td>{{trfKhusus.tarifSupir}}</td>
              <td>{{trfKhusus.tarifTambahan}}</td>
              <td>
                <a href="/home/admin-tarif/detail/{{trfKhusus.tarifId}}" title="View Tarif"><span class="fa fa-eye"></a>
                <a href="#" class="edit-modal" title="Edit Tarif" data-id="{{trfKhusus.tarifId}}" data-idtipe="{{trfKhusus.tipeTarifId}}"
                  data-asal="{{trfKhusus.kotaAsal}}" data-tujuan="{{trfKhusus.kotaTujuan}}"
                  data-perkm="{{trfKhusus.tarifPerKm}}" data-per100="{{trfKhusus.tarifPer100Kilo}}"
                  data-supir="{{trfKhusus.tarifSupir}}" data-tambahan="{{trfKhusus.tarifTambahan}}"
                  data-toggle ="modal" data-target = "#myModal"><span class="fa fa-pencil">
                </a>
                <a href="/home/admin-tarif/delete/{{trfKhusus.tarifId}}" title="Delete Tarif"><span class="fa fa-trash-o"></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <a href="/home/admin-tarif/create-tarif" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span> Tarif Khusus Baru</a>
    </div>
  </div>
</div>


<!--
  #
  # Modal for update tarif Normal
  #
-->
<div id="nrmModal" class="modal fade modal-normal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Update Tarif</h4>
    </div>
    <div class="modal-body">
      <form data-toggle="validator" novalidate="true" action="/home/admin-tarif/update-normal/" method="post">
        {{ csrfField }}
        <input type="hidden" name="id" id="id_nrm">
        <div class="form-group">
          <label for="">Biaya/Km</label>
          <input class="form-control" type="number" min="1000" name="biayaPerKm" id="perkm_nrm" value="" placeholder="Rp. 0.00" required>
        </div>
        <div class="form-group">
          <label for="">Biaya/100 Kg</label>
          <input class="form-control" type="number" min="1000" name="biayaPer100" id="per100_nrm" value="" placeholder="Rp. 0.00" required>
        </div>
        <div class="form-group">
          <label for="">Biaya Supir/hari</label>
          <input class="form-control" type="number" min="1000" name="biayaSupir" id="supir_nrm" value="" placeholder="Rp. 0.00" required>
        </div>
        <div class="form-group">
          <label for="">Biaya Tambahan</label>
          <input class="form-control" type="number" min="1000" name="biayaTambahan" id="tambahan_nrm" value="" placeholder="Rp. 0.00" required>
        </div>
        <br/>
        <div class="modal-footer">
          <button type="submit" id="update_truck" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!--
  #
  # Modal for update tarif
  #
-->
<div id="myModal" class="modal fade modal-tarif" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Update Tarif</h4>
    </div>
    <div class="modal-body">
      <form data-toggle="validator" novalidate="true" action="/home/admin-tarif/update/" method="post">
        {{ csrfField }}
        <input type="hidden" name="id" id="id-edit">
        <input type="hidden" name="idtipe" id="id-tipe">
        <div class="form-group">
          <label for="">Kota Asal</label>
          <input class="form-control" type="text" name="kotaAsal" id="asal" data-error="* Wajib diisi" placeholder="Kota Asal" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="">Kota Tujuan</label>
          <input class="form-control" type="text" name="kotaTujuan" id="tujuan" data-error="* Wajib diisi" placeholder="Kota Tujuan" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="">Biaya/Km</label>
          <input class="form-control" type="number" min="1000" name="biayaPerKm" id="perkm" value="" placeholder="Rp. 0.00" required>
        </div>
        <div class="form-group">
          <label for="">Biaya/100 Kg</label>
          <input class="form-control" type="number" min="1000" name="biayaPer100" id="per100" value="" placeholder="Rp. 0.00" required>
        </div>
        <div class="form-group">
          <label for="">Biaya Supir/hari</label>
          <input class="form-control" type="number" min="1000" name="biayaSupir" id="supir" value="" placeholder="Rp. 0.00" required>
        </div>
        <div class="form-group">
          <label for="">Biaya Tambahan</label>
          <input class="form-control" type="number" min="1000" name="biayaTambahan" id="tambahan" value="" placeholder="Rp. 0.00" required>
        </div>
        <br/>
        <div class="modal-footer">
          <button type="submit" id="update_truck" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block additionJS %}
<script type="text/javascript">

$(document).on('click', '.edit-nrm', function(){
      $('#id_nrm').val($(this).data('idnrm'));
      $('#perkm_nrm').val($(this).data('perkmnrm'));
      $('#per100_nrm').val($(this).data('per100nrm'));
      $('#supir_nrm').val($(this).data('supirnrm'));
      $('#tambahan_nrm').val($(this).data('tambahannrm'));
      $('.modal-normal').modal('show');
    });

$(document).on('click', '.edit-modal', function(){
      $('#id-edit').val($(this).data('id'));
      $('#id-tipe').val($(this).data('idtipe'));
      $('#asal').val($(this).data('asal'));
      $('#tujuan').val($(this).data('tujuan'));
      $('#perkm').val($(this).data('perkm'));
      $('#per100').val($(this).data('per100'));
      $('#supir').val($(this).data('supir'));
      $('#tambahan').val($(this).data('tambahan'));
      $('.modal-tarif').modal('show');
    });
</script>

<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').DataTable();
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "visible": false
                    , "targets": 2
                }
  ]
            , "order": [[2, 'asc']]
            , "displayLength": 25
            , "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
    });
});
</script>
<script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
