{% extends "master" %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Tarif Sewa Truk</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home">Dashboard</a></li>
            <li><a href="#">Detail tarif</a></li>
        </ol>
    </div>
</div>
  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title m-b-0">Tarif Khusus asal {{tipeTarif.kotaAsal}} tujuan {{tipeTarif.kotaTujuan}}</h3>
        <hr>
        <p><strong>Biaya per Km</strong></p>
        <p>Rp. {{tarif.tarifPerKm}}</p>
        <p><strong>Biaya per 100 Kg Kargo</strong></p>
        <p>Rp. {{tarif.tarifPer100Kilo}}</p>
        <p><strong>Biaya Supir per Hari</strong></p>
        <p>Rp. {{tarif.tarifSupir}}</p>
        <p><strong>Biaya Tambahan Hari Besar</strong></p>
        <p>Rp. {{tarif.tarifTambahan}}</p>
        <br><br>
        <div class="col-md-offset-10">
          <button type="button" class="edit-modal btn btn-primary"
            data-id="{{tarif.tarifId}}" data-idtipe="{{tarif.tipeTarifId}}"
            data-asal="{{tipeTarif.kotaAsal}}" data-tujuan="{{tipeTarif.kotaTujuan}}"
            data-perkm="{{tarif.tarifPerKm}}" data-per100="{{tarif.tarifPer100Kilo}}"
            data-supir="{{tarif.tarifSupir}}" data-tambahan="{{tarif.tarifTambahan}}"
            data-toggle ="modal" data-target = "#myModal">Edit</button>
        </div>
      </div>
    </div>
  </div>

  <!--
    #
    # Modal for update tarif
    #
  -->
  <div id="myModal" class="modal fade modal-tarif" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Tarif</h4>
      </div>
      <div class="modal-body">
        <form data-toggle="validator" novalidate="true" action="/home/admin-tarif/update/" method="post">
          {{ csrfField }}
          <input type="hidden" name="id" id="id-edit">
          <input type="hidden" name="idtipe" id="id-tipe">
          <div class="form-group">
            <label for="">Kota Asal</label>
            <input class="form-control" type="text" name="kotaAsal" id="asal" data-error="* Wajib diisi" placeholder="Kota Asal" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="">Kota Tujuan</label>
            <input class="form-control" type="text" name="kotaTujuan" id="tujuan" data-error="* Wajib diisi" placeholder="Kota Tujuan" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="">Biaya/Km</label>
            <input class="form-control" type="number" min="1000" name="biayaPerKm" id="perkm" value="" placeholder="Rp. 0.00" required>
          </div>
          <div class="form-group">
            <label for="">Biaya/100 Kg</label>
            <input class="form-control" type="number" min="1000" name="biayaPer100" id="per100" value="" placeholder="Rp. 0.00" required>
          </div>
          <div class="form-group">
            <label for="">Biaya Supir/hari</label>
            <input class="form-control" type="number" min="1000" name="biayaSupir" id="supir" value="" placeholder="Rp. 0.00" required>
          </div>
          <div class="form-group">
            <label for="">Biaya Tambahan</label>
            <input class="form-control" type="number" min="1000" name="biayaTambahan" id="tambahan" value="" placeholder="Rp. 0.00" required>
          </div>
          <br/>
          <div class="modal-footer">
            <button type="submit" id="update_truck" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block additionJS %}
  <script type="text/javascript">
  $(document).on('click', '.edit-modal', function(){
        $('#id-edit').val($(this).data('id'));
        $('#id-tipe').val($(this).data('idtipe'));
        $('#asal').val($(this).data('asal'));
        $('#tujuan').val($(this).data('tujuan'));
        $('#perkm').val($(this).data('perkm'));
        $('#per100').val($(this).data('per100'));
        $('#supir').val($(this).data('supir'));
        $('#tambahan').val($(this).data('tambahan'));
        $('.modal-tarif').modal('show');
      });
  </script>
{% endblock %}
