{% extends "master-operator" %}

{% block additionCSS %}
<link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
<style>
   #map {
    height: 450px;
    width: 100%;
   }

   .my-custom-class-for-label {
    width: 80px; height: 18px;

    border: 0px solid #1466CC;
    border-radius: 0px;

    background: #1466CC;
    color: #fff;
    text-align: center;
    /*line-height: 20px;*/

    font-weight: bold;
    font-size: 14px;
  }
</style>
{% endblock %}

{% block content %}
  <div id="map"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th>No. Plat Truck</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>plat</td>
                <td>status</td>
                <td><button type="button" id="wish" class="btn btn-primary btn-sm" name="button">Lihat lokasi</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block additionJS %}
  <script>
      var map;
      var indonesia = { lat: -0.97715632, lng: 118.11859263 }
      var markerData = [];
      var newMarkers = [];
      var icon = '/assets/map/marker_truk.png';

      function initMap() {
        //create map
        map = new google.maps.Map(document.getElementById('map'), {
          center: indonesia,
          zoom: 5
        });
        /*
        **  The tooltip , the ajax, the delete marker, re assign marker
        **  Markers Clusters
        **  Zoom the marker
        */
        var markers = [
          {latitude: 2.970042, longitude: 99.0681668},
          {latitude: 2.6273112, longitude: 98.7922018}
        ];

        //for map control the full screen buton on top right
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(
     	    FullScreenControl(map));

        infoWindow = new google.maps.InfoWindow();

        google.maps.event.addListener(map, 'click', function() {
           infoWindow.close();
        });

        displayMarkers(markers);
      }

      function displayMarkers(markers) {
        for (var i = 0; i < markers.length; i++) {
          createMarker(markers[i]);
        }
      }

      function deleteMarker() {
        for (var i = 0; i < markerData.length; i++) {
          markerData[i].setMap(null);
        }
        markerData.length = 0;
      }

      function createMarker(ObjMarker) {
        if (ObjMarker.statusName == "sos") {
          icon = '/assets/map/marker_sos.png';
        }else if (ObjMarker.statusName == "diluar jalur") {
          icon = '/assets/map/marker_terlambat.png';
        }else if (ObjMarker.statusName == "disewa") {
          icon = '/assets/map/marker_disewa.png';
        }else {
          icon = '/assets/map/marker_truk.png';
        }
        //create marker
        var marker = new MarkerWithLabel({
          map: map,
          status: ObjMarker.statusName,
          tipeTruck: ObjMarker.namaKategori,
          icon: icon,
          position: new google.maps.LatLng(ObjMarker.latitude, ObjMarker.longitude),
          labelContent: ObjMarker.platTruck,
          labelAnchor: new google.maps.Point(18, 12),
          labelClass: "my-custom-class-for-label", // the CSS class for the label
          labelInBackground: true
        });
        markerData.push(marker);
        //console.log(markerData);
        //tooltip
        google.maps.event.addListener(marker, 'click', function() {

           // Creating the content to be inserted in the infowindow
           var iwContent = '<div id="iw_container">' +
                 '<div class="iw_title">'+'Status: ' + marker.status + '</div>' +
              '<div class="iw_content">' + 'Tipe Truk: ' + marker.tipeTruck + '</div></div>';

           infoWindow.setContent(iwContent);
           infoWindow.open(map, marker);
        });
      }
  </script>
  <script src="/js/FullScreenControl.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMDKoeOMti-M4RsEyAhkcMCXWwsGlTqRc&callback=initMap"></script>
  <script src="https://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js"></script>
  <script>
  /////////////////////////////////
  // Event button lihat lokasi  //
  ////////////////////////////////

  $(document).on('click', '.seeLct', function(){
    var lat = $(this).data('lat');
    var long = $(this).data('long');
    var centerMap = { lat: lat, lng: long }

    // console.log(centerMap);
    map.setCenter(centerMap);
    smoothZoom(map, 12, map.getZoom());
  });

  function smoothZoom(map, max, cnt) {
    if (cnt >= max) {
      return;
    }else {
      z = google.maps.event.addListener(map, 'zoom_changed', function(event) {
          google.maps.event.removeListener(z);
          smoothZoom(map, max, cnt + 1);
      });
      setTimeout(function() {map.setZoom(cnt)}, 80);
    }
  }

/////////////////////////////////////
//  Akhir dari button lihat lokasi //
/////////////////////////////////////

//////////////////////////////////////////////////////////////////////
//function for ajax request to getAllLocation route every x seconds //
/////////////////////////////////////////////////////////////////////

  (function getLocation() {
    $.ajax({
      url:"/getAllTruckPosition",
      success: function(position){
        //set the markers variable length to 0
        deleteMarker();
        //displaying markers
        displayMarkers(position);

        //////////////////////
        // Update row table //
        //////////////////////
        var content = '';
        for (var i = 0; i < position.length; i++) {
        content += '<tr>';
        content += '<td>' + position[i].platTruck + '</td>';
        content += '<td>' + position[i].statusName + '</td>';
        content += '<td><button type="button" data-lat="'+position[i].latitude+'" data-long="'+ position[i].longitude +'" class="seeLct btn btn-primary btn-sm" name="button">Lihat lokasi</button></td>';
        // content += '<td><a href="#" class="edit">Edit</a> <a href="#" class="delete">Delete</a></td>';
        content += '</tr>';
        }
         $('#myTable tbody').html(content);

        //////////////////////
      },
      complete: function(){
        setTimeout(getLocation, 30000)
      }
    })
  })();

  (function getSOS() {
    $.ajax({
      url:"/getSOS",
      success: function() {
        console.log("getSOS() called");
      },
      complete: function(){
        setTimeout(getSOS, 30000)
      }
    })
  })();

  </script>
{#
 #  Script for
 #  DataTable
 #}
 <script type="text/javascript">
 $(document).ready(function () {
     $('#myTable').DataTable();
     $(document).ready(function () {
         var table = $('#example').DataTable({
             "columnDefs": [
                 {
                     "visible": false
                     , "targets": 2
                 }
   ]
             , "order": [[2, 'asc']]
             , "displayLength": 25
             , "drawCallback": function (settings) {
                 var api = this.api();
                 var rows = api.rows({
                     page: 'current'
                 }).nodes();
                 var last = null;
                 api.column(2, {
                     page: 'current'
                 }).data().each(function (group, i) {
                     if (last !== group) {
                         $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                         last = group;
                     }
                 });
             }
         });
     });
 });
 </script>
 <script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>


{% endblock %}
