{% extends 'master' %}

{% block additionCSS %}
    <link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Data Owner</h3>
          <table id="myTable" class="table">
            <thead>
              <tr>
                <th>Nama</th>
                <th>No HP</th>
                <th>Alamat</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in driver %}
              <tr>
                <td><a href="/detail/{{ data.driverId}}">{{ data.namaDriver }}</a></td>
                <td>{{ data.noHP }}</td>
                <td>{{ data.alamat }}</td>
                <td>NaN</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
</div>
{% endblock %}

{% block additionJS %}
  <script type="text/javascript">
  $(document).ready(function () {
      $('#myTable').DataTable();
      $(document).ready(function () {
          var table = $('#example').DataTable({
              "columnDefs": [
                  {
                      "visible": false
                      , "targets": 2
                  }
    ]
              , "order": [[2, 'asc']]
              , "displayLength": 25
              , "drawCallback": function (settings) {
                  var api = this.api();
                  var rows = api.rows({
                      page: 'current'
                  }).nodes();
                  var last = null;
                  api.column(2, {
                      page: 'current'
                  }).data().each(function (group, i) {
                      if (last !== group) {
                          $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                          last = group;
                      }
                  });
              }
          });
      });
  });
  </script>
  <script src="/datatables/jquery.dataTables.min.js" charset="utf-8"></script>
{% endblock %}
