{% extends 'master' %}

{% block content %}
  <div class="row">
    <div class="white-box">
        <h3>Create Truck</h3>
        <form class="" action="index.html" method="post">
          <div class="col-md-10">
            <h4>Data Truck</h4>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">No. Plat</label>
                <input class="form-control" type="text" name="plat" value="">
              </div>
              <div class="form-group">
                <label for="">Foto</label>
                <div class="field">
                  {{ form.file('foto') }}
                </div>
              </div>
              <div class="form-group">
                <label for="">Scan STNK</label>
                <div class="field">
                  {{ form.file('stnk') }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">No. STNK</label>
                <input class="form-control" type="number" name="no_stnk" value="">
              </div>
              <div class="form-group">
                <label for="">Jenis Armada</label>
                <select class="form-control" name="jenis_armada">
                  <option value="">Tanker</option>
                  <option value="">Carry</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-group">
              <div class="col-md-1 col-md-offset-10">
                <button type="button" class="btn btn-danger offset-md-3" name="button"><i class="glyphicon glyphicon-remove"></i>Reset</button>
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-md btn-primary" name="button">Register</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
