{% extends 'master' %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
        </ol>
    </div>
</div>
<div class="row">
  <form class="" data-toggle="validator" novalidate="true" action="store-owner" method="post" enctype="multipart/form-data">
    {{csrfField}}
    {% if old('errors') %}
      <div class="col-md-6 alert alert-danger">
        {% for error in old('errors') %}
          <li> {{ error.message }} </li>
        {% endfor %}
      </div>
    {% endif %}
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Form Data Owner</h3>
        <div class="form-group">
          <label for="">Nama</label>
          <input class="form-control" type="text" name="nama" required>
        </div>
        <div class="form-group">
          <label for="">No. HandPhone</label>
          <input class="form-control" type="text" class="form-group" name="no_hp" required>
        </div>
        <div class="form-group">
          <label for="">No. KTP</label>
          <input class="form-control" type="text" name="no_ktp" required>
        </div>
        <div class="form-group">
          <label for="">Foto</label>
          <div class="field">
            {# {{ form.file('foto') }} #}
            <input type="file" name="foto" required>
          </div>
        </div>
        <div class="form-group">
          <label for="">No. Rekening</label>
          <input class="form-control" type="text" name="no_rekening" required>
        </div>
        <div class="form-group">
          <label for="">Bank</label>
          <input class="form-control" type="text" name="bank" value="" required>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Form Data Akun</h3>
        <div class="form-group">
          <label for="">Username</label>
          <input class="form-control" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          {# <input type="email" class="form-control" name="email" value=""> #}
          <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" data-error="Format email salah" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="">Password</label>
          {# <input class="form-control" type="password" name="password"> #}
          <input type="password" name="password" data-toggle="validator" data-minlength="6" class="form-control" id="inputPassword" data-error="Min 6 karakter" placeholder="Password" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="">Confirm Password</label>
          {# <input class="form-control" type="password" name="password"> #}
          <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, tidak sama" placeholder="Confirm" required>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-2">
            <button type="button" class="btn btn-danger offset-md-3" name="button"><i class="glyphicon glyphicon-remove"></i>Reset</button>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-md btn-primary" name="button">Register</button>
          </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}
