{% extends 'master' %}

{% block content %}
  <div class="row">
    <div class="white-box">
      <div class="col-md-6">
        {% if old('errors') %}
        <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <ul>
            {% for error in old('errors') %}
            <li> {{ error.message }} </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <form class="" action="create-outbox" method="post">
        {{ csrfField }}
        <div class="col-md-10">
          <h4>Data Outbox</h4>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Phone Number</label>
              <input class="form-control" type="text" name="phone_number" placeholder="Masukkan nomor">
            </div>
            <div class="form-group">
              <label for="">Message</label>
              <textarea class="form-control" name="message" placeholder="Masukkan pesan"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" name="button" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
