{% extends 'master' %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="">Dashboard</a></li>
        </ol>
    </div>
</div>

<form class="" action="/create-truck" method="post" enctype="multipart/form-data">
  {{ csrfField }}
  <input type="hidden" name="ownerId" value="{{ ownerId }}">
  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Form Data Truck</h3>
        <div class="form-group">
          <label for="">No Plat</label>
          <input class="form-control" type="text" name="plat">
        </div>
        <div class="form-group">
          <label for="">No. STNK</label>
          <input class="form-control" type="number" min="0" name="no_stnk" value="">
        </div>
        <div class="form-group">
          <label for="">Jenis Armada</label>
          <select class="form-control" name="jenis_armada">
            {% for types in tipe %}
            <option value="{{ types.tipeTruckId }}">{{ types.namaKategori}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Hardware</label>
          <select class="form-control" name="hardware">
            {% for item in hardware %}
            <option value="{{ item.id }}">{{ item.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Status</label>
          <select class="form-control" name="status">
            {% for item in status %}
            <option value="{{ item.statusTruckId }}">{{ item.statusName}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Profile Truk</h3>
        <div class="form-group">
          <label for="">Foto</label>
          <div class="field">
            {{ form.file('foto') }}
          </div>
        </div>
        <div class="form-group">
          <label for="">Scan STNK</label>
          <div class="field">
            {{ form.file('stnk') }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-3 col-md-offset-5">
            <button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Tambah Tipe</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger offset-md-3" name="button"><i class="glyphicon glyphicon-remove"></i>Reset</button>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-md btn-primary" name="button">Register</button>
          </div>
        </div>
    </div>
  </div>
</form>


  <!-- Modal for upadate alat -->
<div id="myModal" class="modal fade modal-alat" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tambah Kategori Truk</h4>
      </div>
      <div class="modal-body">
        <form action="/create-tipe-truk" method="post" enctype="multipart/form-data">
          {{ csrfField }}
          <div class="form-group">
            <label for="nama_alat">Nama Kategori</label>
            <input class="form-control" placeholder="Masukkan nama kategori" name="nama_kategori">
          </div>
          <div class="form-group">
            <label for="nama_alat">Panjang Muatan</label>
            <input class="form-control" placeholder="Masukkan panjang muatan" name="panjang_muatan">
          </div>
          <div class="form-group">
            <label for="jumlah">Lebar Muatan</label>
            <input class="form-control" placeholder="Masukkan lebar muatan" id="jumlah" name="lebar_muatan">
          </div>
          <div class="form-group">
            <label for="jumlah">Tinggi Muatan</label>
            <input class="form-control" placeholder="Masukkan tinggi muatan" id="stok_minimum" name="tinggi_muatan">
          </div>
          <div class="form-group">
            <label>Berat Max</label>
            <input class="form-control" type="text" name="berat_max" placeholder="masukkan berat maximum" value="">
          </div>
          <br/>
          <div class="modal-footer">
            <button type="submit" id="update_alat" class="btn actionBtn btn-default" ><span class="glyphicon glyphicon-forward"></span>Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
