{% extends 'master' %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Create Driver</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="">Dashboard</a></li>
        </ol>
    </div>
</div>

<form class="" action="/store-driver" method="post" enctype="multipart/form-data">
  {{ csrfField }}
  <input type="hidden" name="ownerId" value="{{ownerId}}">
  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Form Data Driver</h3>
        <div class="form-group">
          <label for="">Nama</label>
          <input class="form-control" type="text" name="nama" value="">
        </div>
        <div class="form-group">
          <label for="">No. SIM</label>
          <input class="form-control" type="text" name="no_sim" value="">
        </div>
        <div class="form-group">
          <label for="">Alamat Tinggal</label>
          <input class="form-control" type="text" name="alamat_tinggal" value="">
        </div>
        <div class="form-group">
          <label for="">Foto</label>
          <div class="field">
            {{ form.file('foto') }}
          </div>
        </div>
        <div class="form-group">
          <label for="">Nomor HP</label>
          <input class="form-control" type="text" name="no_hp" value="">
        </div>
        <div class="form-group">
          <label for="">No. KTP</label>
          <input class="form-control" type="text" name="no_ktp" value="">
        </div>
        <div class="form-group">
          <label for="">KTP</label>
          <div class="field">
            {{ form.file('scan_ktp') }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Profile Driver</h3>
        <div class="form-group">
          <label for="">Username</label>
          <input class="form-control" type="text" name="username" value="">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" name="email" value="">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input class="form-control" type="password" name="password" value="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-2">
            <button type="button" class="btn btn-danger offset-md-3" name="button"><i class="glyphicon glyphicon-remove"></i>Reset</button>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-md btn-primary" name="button">Register</button>
          </div>
        </div>
    </div>
  </div>
</form>
<!--
    <div class="row">
      <div class="white-box">
        <h3>Create Driver</h3>
        <form class="" action="/store-driver" method="post" enctype="multipart/form-data">
          {{ csrfField }}
          <div class="col-md-10">
            <h4>Data diri</h4>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Nama</label>
                <input class="form-control" type="text" name="nama" value="">
              </div>
              <div class="form-group">
                <label for="">No. SIM</label>
                <input class="form-control" type="text" name="no_sim" value="">
              </div>
              <div class="form-group">
                <label for="">Alamat Tinggal</label>
                <input class="form-control" type="text" name="alamat_tinggal" value="">
              </div>
              <div class="form-group">
                <label for="">Foto</label>
                <div class="field">
                  {{ form.file('foto') }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Nomor HP</label>
                <input class="form-control" type="text" name="no_hp" value="">
              </div>
              <div class="form-group">
                <label for="">No. KTP</label>
                <input class="form-control" type="text" name="no_ktp" value="">
              </div>
              <div class="form-group">
                <label for="">KTP</label>
                <div class="field">
                  {{ form.file('scan_ktp') }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <h4>Data Akun</h4>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Username</label>
                <input class="form-control" type="text" name="username" value="">
              </div>
              <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" value="">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input class="form-control" type="password" name="password" value="">
              </div>
              <br>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <div class="col-md-1 col-md-offset-10">
                <button type="button" class="btn btn-danger offset-md-3" name="button"><i class="glyphicon glyphicon-remove"></i>Reset</button>
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-md btn-primary" name="button">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  -->
{% endblock %}
