{% extends 'master' %}

{% block additionCSS %}
    <link rel="stylesheet" href="/datatables/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/datatables/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Edit Owner</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/home/admin">Dashboard</a></li>
        </ol>
    </div>
</div>
<div class="row">
  <form action="/update-owner" method="post" enctype="multipart/form-data">
    {{csrfField}}
    {% if old('errors') %}
      <div class="col-md-6 alert alert-danger">
        {% for error in old('errors') %}
          <li> {{ error.message }} </li>
        {% endfor %}
      </div>
    {% endif %}
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title">Form Data Owner</h3>
        <div class="hidden">
          <label for="">ID</label>
          <input class="form-control" type="text" name="ownerId" value="{{owner.ownerId}}" readonly>
        </div>
        <div class="form-group">
          <label for="">Nama</label>
          <input class="form-control" type="text" name="namaOwner" value="{{owner.namaOwner}}">
        </div>
        <div class="form-group">
          <label for="">No. HandPhone</label>
          <input class="form-control" type="text" class="form-group" name="noHP" value="{{owner.noHP}}">
        </div>
        <div class="form-group">
          <label for="">No. KTP</label>
          <input class="form-control" type="text" name="noKTP" value="{{owner.noKTP}}">
        </div>
        <div class="form-group">
          <label for="">Foto</label>
          <div class="field">
            <input type="file" name="foto" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="">No. Rekening</label>
          <input class="form-control" type="text" name="noRekening" value="{{owner.noRekening}}">
        </div>
        <div class="form-group">
          <label for="">Bank</label>
          <input class="form-control" type="text" name="bank" value="{{owner.bank}}">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="white-box">
        <div class="form-group">
          <label for="">Username</label>
          <input class="form-control" type="text" name="username" value="{{account.username}}">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" name="email" value="{{account.email}}">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input class="form-control" type="password" name="password">
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-2">
            <button type="button" class="btn btn-danger offset-md-3" name="button"><i class="glyphicon glyphicon-remove"></i>Reset</button>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-md btn-primary" name="button">Save</button>
          </div>
        </div>
    </div>
  </form>
</div>

{% endblock %}
